#alert {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
}

#alert .content {
    --alert_before_width : 100%;
    --alert_before_transition_duration : 3s;

    position: relative;
    display: flexbox;
    right: -25em;
    width: 20em;
    margin-bottom: 20px;
    padding: 10px;
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

#alert .content::before {
    content: "";
    width: var(--alert_before_width);
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition-property: width;
    transition-timing-function: linear;
    transition-duration: var(--alert_before_transition_duration);
}

#alert .content.show {
    right: 0px;
}

#alert .content.close {
    right: -25em;
}