body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
}
#background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../source/dirt.png);
    background-repeat: repeat;
    z-index: -1;
}


#main {
    height: 93vh;
    margin-left: 20vh;
    align-items: center;
    justify-items: center;
    display: flex;
}

#main .content {
    font-size: 6vmax;
    color: #ffffff;
    cursor: pointer;
}

#main .hidden {
    display: none;
}