#score {
    width : 100vw;
    height : 93vh;
    background-color: #e1e1e155;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score table{
    width : 70vw;
    table-layout: fixed;
    position: relative;
    top: 5vh;
}

