form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

:root {
    --angle: 0deg;
}


#dialog {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #0005;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

#dialog::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(var(--angle), #aaffff, #0055aa, #aaffff);
    border-radius: 10px;
    animation: rotate 3s linear infinite
}

#dialog .title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    display: block;
    z-index: 2;
}

#dialog .fillBox {
    height: 100%;
    display: block;
    margin-top: 10px;
    padding: 5px;
}


#dialog .submit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

#dialog .inputBox {
    position: relative;
    display: flex;
    height: 120px;
    margin-top: 40px;
}

#dialog .inputBox i {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #43e2ff;
    border-radius: 10px;
    transition: height 0.25s ease;
}

#dialog .inputBox .input:focus ~ i{
    height: 100%;
}

#dialog .inputBox .input:not(:placeholder-shown) ~ i{
    height: 100%;
}

#dialog .inputBox .input {
    appearance: none;
    background-color: #0000;
    border: none;
    padding: 0px 10px;
    width: 100%;
    z-index: 2;
    font-size: 1.2em;
}

#dialog .inputBox .input::-webkit-inner-spin-button{
    appearance: none;
}

#dialog .inputBox .input:focus{
    appearance: none;
    border: none;
    outline: none;
}

#dialog .inputBox .name {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    font-size: 1.2em;
    transition: top 0.25s, left 0.25s, color 0.25s, font-size 0.25s;
}


#dialog .inputBox .input:focus ~ .name {
    top: -25px;
    left: 5px;
    color: #43e2ff;
    font-size: 1em;
}

#dialog .inputBox .input:not(:placeholder-shown) ~ .name {
    top: -25px;
    left: 5px;
    color: #43e2ff;
    font-size: 1em;
}

#dialog .submit button {
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #000;
    border: none;
    border-radius: 10px;
    background-color: #43e2ff;
    user-select: none;
    cursor: pointer;
}


#dialog .submit button:hover {
    background-color: #43e2ffdd;
}

#dialog .data {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
}