body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

#header {
    position: relative;
    height: 70px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#header .content {
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}

#header .button {
    position: absolute;
    width: 150px;
    height: 100%;
    right: calc(150px * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
}

#header .button a {
    user-select: none;
}

#header .button:hover {
    background-color: #00aaff22;
    border-bottom: 8px solid #0088ff55;
}

.snackBar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    visibility: hidden;
    z-index: 10000;
}

.snackBar a {
    padding: 10px 20px;
    background-color: #e1e1e1;
    color: #000;
    font-size: 1.5em;
    border-radius: 10px;
}

.snackBar.show {
    visibility: visible;
    animation: fadeIn 1s, fadeOut 1s 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        bottom: 0px;
    }
    to {
        opacity: 1;
        bottom: 70px;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        bottom: 70px;
    }
    to {
        opacity: 0;
        bottom: 0px;
    }
}