#login {
    width: 25%;
    height: 25%;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#login button {
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #000;
    border: none;
    border-radius: 10px;
    background-color: #43e2ff;
    user-select: none;
    cursor: pointer;
}


#login .submit button:hover {
    background-color: #43e2ffdd;
}

#login .inputBox {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    align-items: center;
}

#login .inputBox i {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #43e2ff;
    border-radius: 10px;
    transition: height 0.25s ease;
}

#login .inputBox .input:focus ~ i{
    height: 100%;
}

#login .inputBox #password:focus ~ i{
    height: 100%;
}

#login .inputBox .input:not(:placeholder-shown) ~ i{
    height: 100%;
}

#login .inputBox .input {
    appearance: none;
    background-color: #0000;
    border: none;
    padding: 0px 10px;
    width: 100%;
    z-index: 3;
    font-size: 1.2em;
}

#login .inputBox .input::-webkit-inner-spin-button{
    appearance: none;
}

#login .inputBox .input:focus{
    appearance: none;
    border: none;
    outline: none;
}

#login .inputBox .name {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    font-size: 1.2em;
    transition: top 0.25s, left 0.25s, color 0.25s, font-size 0.25s;
}


#login .inputBox .input:focus ~ .name {
    top: -25px;
    left: 5px;
    color: #43e2ff;
    font-size: 1em;
}

#login .inputBox .input:not(:placeholder-shown) ~ .name {
    top: -25px;
    left: 5px;
    color: #43e2ff;
    font-size: 1em;
}