form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialog {
    width: 500px;
    height: 500px;
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 2px solid #0005;
    box-shadow: 10px 10px 20px #0005;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dialog .title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    display: block;
}

#dialog .inputBox {
    background-color: #2e2e2e;
    border-radius: 10px;
    display: block;
    margin: 20px 20px;
    flex-basis: 1;
}