#numbers {
    width: 800px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numbers span {
    position: absolute;
    text-align: center;
    inset: calc(25px*var(--r));
    transform: rotate(calc(var(--i)*50deg));
}

#numbers span b{
    font-size: 1.2em;
    display: inline-block;
}